
#container .profil-card {
	height: 300px;

	background-color: #D32F2F !important;

	
	margin-bottom: -105px;
}

#profiler img {
position: relative;
display: block;
 margin-left: auto;
 margin-right: auto ;
}






.hello { 
	margin-top: 20px;
	height: 100px;
	
}

.hello p {
	
	font-size: 25px;
}