

.header 



.profil {
	height: 250px;
	background-color: red !important;
	display: block;
	margin-left: 0;
	margin-right: 0;
	padding: 12px;

}


.blue {height: 100px; width:100%; background-color: blue;}


