

.light {
  font-size: 20px;
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
}

.logo {
	margin-top: -6px;
	margin-right: -4px;
}

.navbar-default {
  background-color: #F44336 !important;
  border-color: #e7e7e7;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}